/* hover sui link nella nav  */

.link:hover {
    border-bottom: 1px inset black;
}

/* hover sezione domande compare il testo della risposta */

.faq p {
    display: none;
}

.faq:hover p {
    display: block;
}

.faq:hover i {
    transform: rotate(180deg);
}