/* header  */

header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 0 1rem;
    box-shadow: 0px 0px 5px 0px #000000;
    z-index: 999;
}

.logo {
    display: block;
}

.column-nav-left,
.column-nav-right {
    gap: 2rem;
}

nav {
    min-height: 4rem;
    flex-wrap: wrap;
}

.link {
    height: 4rem;
    line-height: 4rem;
}

.link a {
    color: black;
}

/* main  */

/* sezione jumbotron  */

h1 {
    font-size: 4rem;
    width: 70%;
    margin: 0 auto;
}

.background-full-width {
    background-color: #B4D0E7;
    padding-top: 8rem;
}

.jumbo-container {
    display: flex;
}

.column-jumbo-left {
    width: 40%;
    padding-right: 1rem;
    padding-top: 3rem;
}

.column-jumbo-right {
    width: 60%;
    position: relative;
    bottom: -3rem;
}

.column-jumbo-right img {
    width: 100%;
    display: block;
}

.column-jumbo-left .btn-blue {
    margin: 1rem 0;
    display: inline-block;
}

.column-jumbo-left i {
    margin-top: 2rem;
    font-size: 3rem;
    color: black;
}

/* sezione servizi prezzi  */

label[for="1"] {
    margin-right: 2rem;
}

.card-listino {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.column-listino {
    border: 1px solid lightgray;
    width: 260px;
}

.column-listino p,
.column-listino .icona,
.column-listino .descrizione,
.column-listino a {
    font-size: 0.8rem;
}

.header-listino {
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.content-listino,
.cta-listino,
.footer-listino {
    padding: 1rem;
}

.list-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 2rem;
}

.list-flex-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.icona {
    width: 5%;
}

.descrizione {
    width: 90%;
}

.cta-listino {
    text-align: center;
}

.footer-listino hr {
    margin: 2rem 0;
}

.box-grande-listino {
    border: 1px solid lightgray;
    line-height: 2rem;
}

.box-grande-listino .container-flex {
    align-items: flex-start;
    flex-wrap: wrap;
}

.column-left-box-grande h5 {
    margin-bottom: 1rem;
}

.column-left-box-grande {
    width: 60%;
    padding: 1rem;
}

.column-right-box-grande {
    padding: 1rem;
    text-align: right;
}

/* sezione foto e testo */

.column-image {
    width: 60%;
}

.column-description {
    width: 40%;
}

.column-description p {
    margin: 2rem 0;
}

/* sezione 6 colonne su 2 righe  */

.box-feature {
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-img {
    text-align: center;
}

.column-feature img {
    width: 100%;
}

.column-feature h4 {
    margin: 1.5rem 0;
}

.column-feature {
    width: 250px;
    margin-bottom: 2rem;
}

/* sezione testo e link  */

.scopri {
    width: 60%;
}

/* sezione box quadrati */

.container-square {
    display: flex;
  }
  
  .column-square-left,
  .column-square-right {
    height: auto;
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
  }

  .column-square-center {
    height: auto;
    width: calc(100% / 3);
    padding: 2rem;
  }
  
  .square-small {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  @supports (aspect-ratio: 1/1) {
    .column-square-left,
    .column-square-center,
    .column-square-right,
    .square-small {
        aspect-ratio: 1/1;
    }
  }

  .logo-partner {
    width: 60%;
    filter: invert(1);
  }

  .logo-partner-center {
    width: 40%;
  }

  .column-square-center hr {
    margin: 2rem 0;
  }

  .column-square-center p {
    margin-bottom: 1rem;
  }

/* sezione testo e call to action due colonne */

.box-call {
    background-color: #B4D0E7;
}

.column-call-left {
    width: 60%;
}

.column-call-left h2  {
    color: purple;
}

.column-call-right {
    align-self: flex-start;
}

.column-call-right button {
    border: none;
    background-color: whitesmoke;
    padding: 0.5rem 2rem;
}

/* sezione domande */

.box-faq {
    min-height: 100vh;
}

.column-faq-left {
    width: 90%;
}

.column-faq-right {
    align-self: flex-start;
}

.box-faq hr{
    margin: 1rem 0;
}

.box-faq h4 {
    margin-bottom: 1rem;
}

/* footer */

footer {
    background-color: black;
    color: white;
}

.column-footer h4 {
    margin-bottom: 1rem;
}

.column-footer li {
    margin: 0.5rem 0;
    list-style: none;
}

footer hr {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

footer li {
    font-size: 0.8rem;
}

footer span {
    font-size: 0.7rem;
}