/* common style  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxed-70 {
    width: 70%;
    margin: 0 auto;
}

.boxed-60 {
    width: 60%;
    margin: 0 auto;
}

.padding-top-bottom {
    padding: 5rem 0;
}

.btn-blue {
    background-color: #065FF6;
    color: white;
    padding: 0.5rem 2rem;
}

.btn-white {
    background-color: white;
    color: #222;
    border: 1px solid #222;
    padding: 0.3rem 2rem;
}

a {
    text-decoration: none;
}

/* header  */

header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 0 1rem;
    box-shadow: 0px 0px 5px 0px #000000;
    z-index: 999;
}

.logo {
    display: block;
}

.column-nav-left,
.column-nav-right {
    gap: 2rem;
}

.link {
    padding: 2rem 0;
}

.link a {
    color: black;
}

/* main  */

/* sezione jumbotron  */

h1 {
    font-size: 4rem;
    width: 70%;
    margin: 0 auto;
}

.background-full-width {
    background-color: #B4D0E7;
    padding-top: 8rem;
}

.jumbo-container {
    display: flex;
}

.column-jumbo-left {
    width: 40%;
    padding-right: 1rem;
    padding-top: 3rem;
}

.column-jumbo-right {
    width: 60%;
    position: relative;
    bottom: -3rem;
}

.column-jumbo-right img {
    width: 100%;
    display: block;
}

.column-jumbo-left .btn-blue {
    margin: 1rem 0;
    display: inline-block;
}

.column-jumbo-left i {
    margin-top: 2rem;
    font-size: 3rem;
}

/* sezione servizi prezzi  */

.column-listino {
    border: 1px solid black;
}

.header-listino {
    border-bottom: 1px solid black;
    text-align: center;
}

.column-listino li {
    list-style: none;
}

.box-grande-listino {
    border: 1px solid black;
}

.column-left-box-grande {
    width: 70%;
}

.column-right-box-grande {
    width: 30%;
}

/* sezione foto e testo */

.column-image {
    width: 60%;
}

.column-description {
    width: 40%;
}

/* sezione 6 colonne su 2 righe  */

.box-feature {
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-feature > img {
    text-align: center;
}

.column-feature {
    width: 30%;
}

/* sezione testo e link  */

/* sezione box quadrati */

.box-partner {
    height: 60vh;
}

.column-partner-left,
.column-partner-center,
.column-partner-right {
    border: 1px solid black;
    flex-grow: 1;
    height: 100%;
}

.square {
    height: 50%;
    width: 50%;
    border: 1px solid red;
}

.column-partner-left,
.column-partner-right {
    display: flex;
    flex-wrap: wrap;
}

/* sezione testo e call to action due colonne */

.box-call {
    background-color: #B4D0E7;
}

/* sezione domande */

/* footer */

footer {
    background-color: black;
    color: white;
}